<div class="container py-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="mb-4 text-center">{{ 'TERMS_OF_SERVICE.TITLE' | translate }}</h1>
            <div class="content-section card p-4 shadow-sm border-0">
                <h3>{{ 'TERMS_OF_SERVICE.SEC1_TITLE' | translate }}</h3>
                <p>{{ 'TERMS_OF_SERVICE.SEC1_DESC' | translate }}</p>

                <h3 class="mt-4">{{ 'TERMS_OF_SERVICE.SEC2_TITLE' | translate }}</h3>
                <p>{{ 'TERMS_OF_SERVICE.SEC2_DESC' | translate }}</p>

                <h3 class="mt-4">{{ 'TERMS_OF_SERVICE.SEC3_TITLE' | translate }}</h3>
                <p>{{ 'TERMS_OF_SERVICE.SEC3_DESC' | translate }}</p>

                <h3 class="mt-4">{{ 'TERMS_OF_SERVICE.SEC4_TITLE' | translate }}</h3>
                <p>{{ 'TERMS_OF_SERVICE.SEC4_DESC' | translate }}</p>

                <h3 class="mt-4">{{ 'TERMS_OF_SERVICE.SEC5_TITLE' | translate }}</h3>
                <p>{{ 'TERMS_OF_SERVICE.SEC5_DESC' | translate }}</p>
            </div>
        </div>
    </div>
</div>